<!-- <div class="sidenav">
        <div><a routerLink="" class="navbar-brand">Tracom</a>  
        <a *ngIf="authentication.isUserLoggedIn()" routerLink="/welcome" class="nav-link">Pos</a>
        <a routerLink="#">Home</a>
        <a routerLink="#">Sales</a>
        <a routerLink="#">Settings</a>         
    
</div> -->
      
<!-- <ul class="navbar-nav">
        <li><a *ngIf="authentication.isUserLoggedIn()" routerLink="welcome/name" class="nav-link">Home</a></li>
        <li><a  *ngIf = "authentication.isUserLoggedIn()" routerLink="/list" class="nav-link">POS</a></li>
        <li><a  *ngIf = "authentication.isUserLoggedIn()" routerLink="/sales" class="nav-link"> POS SALES</a></li>
      </ul> -->